<div class="bg-light sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/admin-dashboard">Tổng quan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user">Quản lý người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/doctor">Quản lý bác sĩ</a> <!-- Thêm liên kết này -->
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/booking">Quản lý đặt lịch khám</a>
            <!-- Thêm liên kết này -->
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/history">Quản lý hồ sơ bệnh án</a>
            <!-- Thêm liên kết này -->
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/doctor">Quản lý lịch làm việc</a>
            <!-- Thêm liên kết này -->
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/time-slot">Quản lý ca làm</a> <!-- Thêm liên kết này -->
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/specialty">Quản lý chuyên khoa</a>
            <!-- Thêm liên kết này -->
        </li>
    </ul>
</div>