<div class="bg-light sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/admin-dashboard">
                <i class="fas fa-tachometer-alt"></i><span> Tổng quan</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user">
                <i class="fas fa-users"></i><span> Quản lý người dùng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/doctor">
                <i class="fas fa-user-md"></i><span> Quản lý bác sĩ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/booking">
                <i class="fas fa-calendar-check"></i><span> Quản lý đặt lịch khám</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/history">
                <i class="fas fa-file-medical-alt"></i><span> Quản lý hồ sơ bệnh án</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/doctor">
                <i class="fas fa-calendar-day"></i><span> Quản lý lịch làm việc</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/time-slot">
                <i class="fas fa-clock"></i><span> Quản lý ca làm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/specialty">
                <i class="fas fa-stethoscope"></i><span> Quản lý chuyên khoa</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/lichLam-doctor">
                <i class="fas fa-calendar-alt"></i><span> Lịch làm việc của bác sĩ</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" routerLink="/bao-cao">
                <i class="fas fa-chart-line"></i><span> Báo cáo thống kê</span>
            </a>
        </li>                 
    </ul>
</div>
