<header class="header navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand col-md-2" href="/">
            <img src="assets/logo.png" alt="Dental Clinic Logo" class="logo">
        </a>

        <!-- Navigation Toggle Button (for small screens) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse col-md-10" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/user-booking'">Đặt lịch khám</a>
                </li>

                <!-- Nếu người dùng đã đăng nhập -->
                <li *ngIf="email" class="nav-item">
                    <a class="nav-link" routerLink="/user-profile">Thông tin cá nhân</a>
                </li>
                <li *ngIf="email" class="nav-item">
                    <a class="nav-link" routerLink="/user-history">Hồ sơ bệnh án</a>
                </li>
                <li *ngIf="email" class="nav-item">
                    <button class="nav-link text-danger" (click)="onLogout()">Đăng xuất</button>
                </li>

                <!-- Nếu người dùng chưa đăng nhập -->
                <li *ngIf="!email" class="nav-item">
                    <a class="nav-link btn btn-primary text-white px-3" [routerLink]="'/login'">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
</header>