<footer class="footer">
    <div class="footer-container">
        <section class="footer-social-media">
            <div class="social-connect">
                <span>Hãy kết nối với chúng tôi:</span>
            </div>
            <div class="social-icons">
                <a href="" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </section>

        <div class="footer-content">
            <div class="footer-section">
                <h6 class="footer-title">Phòng Khám Nha Khoa Poly</h6>
                <p>
                    Nha Khoa Poly chuyên niềng răng thẩm mỹ. Các dịch vụ chính: Niềng răng, cấy ghép Implant, bọc răng sứ, tẩy trắng răng, cạo vôi răng.
                </p>
            </div>

            <div class="footer-links">
                <h6 class="footer-title">Dịch Vụ</h6>
                <ul>
                    <li><a href="#!" class="text-reset">Đặt khám bác sĩ</a></li>
                    <li><a href="#!" class="text-reset">Đặt khám phòng khám</a></li>
                    <li><a href="#!" class="text-reset">Liên hệ tư vấn</a></li>
                    <li><a href="#!" class="text-reset">Đặt khám online</a></li>
                </ul>
            </div>

            <div class="footer-support">
                <h6 class="footer-title">Hỗ trợ</h6>
                <ul>
                    <li><a href="#!" class="text-reset">Câu hỏi thường gặp</a></li>
                    <li><a href="#!" class="text-reset">Điều khoản sử dụng</a></li>
                    <li><a href="#!" class="text-reset">Chính sách bảo mật</a></li>
                    <li><a href="#!" class="text-reset">Giải quyết khiếu nại</a></li>
                </ul>
            </div>

            <div class="footer-contact">
                <h6 class="footer-title">Thông tin liên hệ</h6>
                <p><i class="fas fa-home me-3"></i>Nguyễn Hữu Thọ, TP Đà Nẵng</p>
                <p><i class="fas fa-envelope me-3"></i>polynhakhoagmail.com.vn</p>
                <p><i class="fas fa-phone me-3"></i>+ 09 234 567 88</p>
                <p><i class="fas fa-print me-3"></i>+ 04 234 567 89</p>
            </div>
        </div>

        <br>
        
        <div class="footer-bottom">
            <div class="footer-logo">
                <h3>Phòng Khám Nha Khoa</h3>
                <p>&copy; 2024 Phòng Khám Nha Khoa. Tất cả các quyền được bảo lưu.</p>
            </div>
        </div>
    </div>
</footer>
