.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(218, 225, 231);
}

.resetpass-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: auto;
  text-align: center;
}

.resetpass-form .row {
  display: flex;
  align-items: center;
}

.resetpass-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1055e9;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0097a7;
}

.alert-info {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #007bff;
  margin-top: 20px;
}

a:hover {
  color: #0056b3;
}
