<app-header></app-header>

<div class="container my-5">
    <h2 class="text-center mb-4">Trung Tâm Của Chúng Tôi</h2>

    <div class="row mb-5">
        <div class="col-md-6">
            <h3>Trung tâm nha khoa Poly</h3>
            <p><strong>Địa Chỉ:</strong> Nguyễn Hữu Thọ, TP Đà Nẵng</p>
            <p><strong>Điện thoại:</strong> 1800 6578</p>
            <p><strong>Giờ làm việc:</strong> 8g - 20g, Chủ nhật: 8g - 17g</p>
        </div>

        <div class="col-md-6">
            <h3>Đại điện nha khoa Poly</h3>
            <p><strong>Mrs. Anna Nguyen</strong></p>
            <p><strong>Phone:</strong> 9055225923</p>
            <p><strong>Direct:</strong> 2899229149</p>
            <p><strong>Email:</strong> polynhakhoa.gmail.com.vn</p>
        </div>
    </div>
</div>

<app-footer></app-footer>