<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card my-4 shadow-sm">
        <div class="card-header text-center">
          <h4>Đặt Lịch Khám Tự Do</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <label for="doctor">Chọn bác sĩ:</label>
                <select id="doctor" class="form-control" name="doctor">
                  <option *ngFor="let doctor of doctors" [value]="doctor.id">
                    {{ doctor.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="specialty">Chọn chuyên khoa:</label>
                <select id="specialty" class="form-control" name="specialty">
                  <option *ngFor="let specialty of specialties" [value]="specialty.id">
                    {{ specialty.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="appointmentDate">Ngày khám:</label>
                <input
                  type="date"
                  class="form-control"
                  id="appointmentDate"
                  name="date"
                />
              </div>
              <div class="col-md-6">
                <label for="timeSlot">Chọn thời gian:</label>
                <select id="timeSlot" class="form-control" name="timeSlot">
                  <option >
                    
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="diagnosis">Chẩn đoán:</label>
                <input type="text" id="diagnosis" class="form-control" />
              </div>
              <div class="col-md-6">
                <label for="symptoms">Triệu chứng:</label>
                <input type="text" id="symptoms" class="form-control" />
              </div>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-success">
                Đặt lịch
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
