<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card my-4 shadow-sm">
        <div class="card-header text-center">
          <h4>Đặt Lịch Khám</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <label for="doctor">Chọn bác sĩ:</label>
                <select
                  id="doctor"
                  class="form-control"
                  name="doctor"
                  [(ngModel)]="selectedDoctorId"
                  (change)="onDoctorChange()"
                  [disabled]="!appointmentDate"
                >
                  <option *ngFor="let doctor of doctors" [value]="doctor.id">
                    {{ doctor.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="specialty">Chọn chuyên khoa:</label>
                <select
                  id="specialty"
                  class="form-control"
                  name="specialty"
                  [(ngModel)]="selectedSpecialtyId"
                  (change)="onSpecialtyChange()"
                  [disabled]="!appointmentDate"
                >
                  <option
                    *ngFor="let specialty of specialties"
                    [value]="specialty.id"
                  >
                    {{ specialty.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="appointmentDate">Ngày khám:</label>
                <input
                  type="date"
                  class="form-control"
                  id="appointmentDate"
                  [(ngModel)]="appointmentDate"
                  name="date"
                  [min]="minDate"
                  [max]="maxDate"
                />
              </div>
              <div class="col-md-6">
                <label for="timeSlot">Chọn thời gian:</label>
                <select
                  [(ngModel)]="selectedTimeSlot"
                  name="timeSlot"
                  class="form-control"
                  [disabled]="!appointmentDate"
                >
                  <ng-container *ngIf="timeSlots.length > 0">
                    <option *ngFor="let slot of timeSlots" [value]="slot.id"><!-- startime -->
                      {{ convertToTimeString(slot.startTime) }} -
                      {{ convertToTimeString(slot.endTime) }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col-md-6">
                <label for="doctor">Chẩn đoán:</label>
                <input type="text" />
              </div>
              <div class="col-md-6">
                <label for="doctor">Triệu chứng:</label>
                <input type="text" />
              </div>
            </div>
            <div class="text-center mt-3">
              <button
                type="submit"
                class="btn btn-success"
                (click)="onSubmit()"
                [disabled]="
                  !appointmentDate ||
                  !selectedDoctorId ||
                  !selectedSpecialtyId ||
                  !selectedTimeSlot">
                Đặt lịch
              </button>
              
            </div>
            <div class="register">
              <a style="text-decoration: none;" [routerLink]="['/bookingdesire']">Đặt lịch tự do</a>
         </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

