<app-header></app-header>
<div class="container">
    <!-- Khung ảnh và tìm kiếm -->
    <div class="hero-image">
        <img src="assets\main4.jpg" class="img-fluid" alt="Phòng khám nha khoa">
        <div class="search-section">
            <div class="text-center">
                <h1>Đặt khám nha khoa</h1>
                <p>Đặt khám trên Nha Khoa để có thứ tự và khung giờ
                    khám
                    trước</p>
                <form class="search-form">
                    <input type="text" class="search-input" placeholder="Triệu chứng, thuốc, địa chỉ..."
                        aria-label="Tìm kiếm">
                    <button type="submit" class="search-button">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>