/* Đảm bảo ảnh phủ đầy chiều rộng của màn hình */
.container-fluid{
    font-family: 'Poppins', sans-serif;
}
.navbar-nav .nav-link {
    margin-right: 25px;
  }

  .btn-outline-primary {
    margin-left: 20px;
  }


