<app-header></app-header>
<div class="container">
    <div class="login-form">
        <h2>Đăng ký tài khoản</h2>
        <form (submit)="onRegister()">
            <div class="form-group">
                <input type="email" id="email" placeholder="Email" [(ngModel)]="email" name="email" required email>
            </div>
            <div class="form-group">
                <input type="password" id="password" placeholder="Nhập mật khẩu" [(ngModel)]="password" name="password"
                    required minlength="6">
            </div>
            <div class="form-group">
                <input type="password" id="retypePassword" placeholder="Nhập lại mật khẩu" [(ngModel)]="retypePassword"
                    name="retypePassword" required [ngClass]="{'is-invalid': password !== retypePassword}">
            </div>
            <button type="submit">Đăng ký</button>
        </form>
        <div class="register">
            <p>Đã có tài khoản? <a style="text-decoration: none;" [routerLink]="['/login']">Đăng nhập</a></p>
        </div>
        
    </div>
</div>
<app-footer></app-footer>